/*****LES BASES*****/
:root{
    --couleurFond: #2c383d;
    --couleurPolice: whitesmoke;
    --couleurFondHeader: #44A33D;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--couleurFond);
    color : var(--couleurPolice);
    font-family: Helvetica, Arial,sans-serif;
    text-align: justify;
}

div,header,input,footer,a,nav,ul,li{
    display: flex;
    flex:1;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color:var(--couleurPolice);
}

.colonne{
    flex-direction: column;
}

.alignCenter{
    align-items: center;
}

.justCenter{
    justify-content: center;
}

/***** Header et Footer ******/

header, footer{
    background-color: var(--couleurFondHeader);
    color : var(--couleurPolice);
}

.titre{
    flex:12;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.deconnexion{
    
}

/***** Contenu *****/

.encadre{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.formConnexion{
    flex:0.7;
    background-color: var(--couleurFondHeader);
    border: solid 1px var(--couleurFondHeader);
    border-radius: 1em 0em ;
    padding: 0.5em 1em 0.5em 1em;
}

.inputIdentifiant{
    border:inset 0.2em var(--couleurFondHeader);
    border-radius: 0.5em;
    height: 2em;
}

/* .contenu{
    padding-top: 10em;
    padding-bottom: 25em;
} */

.submitConnexion{
    margin-left:12em;
    margin-right:12em;
    border-radius: 1em;
    height: 2em;
}

.choix{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: var(--couleurPolice);
    padding-bottom: 1.5em;
    padding-top:1.5em;
    color:var(--couleurFond);
    border: 0.5em var(--couleurFondHeader) solid;
}

.margingChoixListe{
    margin-top: 7em;
}

.confirmation{
    margin-bottom: 1em;
}


.partie{
	flex:0.5;
	padding: 1em;
}

.alignInput{
	align-items: flex-end;
}

/****** Boutons CRUD ******/

/*Bouton ajouter*/
.ajouter {
	box-shadow: 3px 4px 0px 0px #2e9614;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:18px;
	border:1px solid #18ab29;
	cursor:pointer;
	padding:7px 25px;
    text-shadow:0px 1px 0px #2f6627;
    flex : 0.5;
    margin-top: 2em;
    margin-bottom: 2em;
}
.ajouter:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.ajouter:active {
	position:relative;
	top:1px;
}


/*Bouton modifier*/
.modifier {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:18px;
	border:1px solid #337bc4;
	cursor:pointer;
	padding:7px 25px;
	text-shadow:0px 1px 0px #528ecc;
}
.modifier:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.modifier:active {
	position:relative;
	top:1px;
}


/*Bouton supprimer*/

.supprimer {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	cursor:pointer;
	padding:7px 25px;
	text-shadow:0px 1px 0px #810e05;
}
.supprimer:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.supprimer:active {
	position:relative;
	top:1px;
}

/*Bouton détails*/
.details {
	box-shadow: 3px 4px 0px 0px #d4861f;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:18px;
	border:1px solid #fb9e25;
	cursor:pointer;
	padding:7px 25px;
	text-shadow:0px 1px 0px #cc9f52;
}
.details:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.details:active {
	position:relative;
	top:1px;
}

/* Panneau libelle*/
.libelle {
	box-shadow: 3px 4px 0px 0px #6c7c7c;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:18px;
	border:1px solid #566963;
	padding:7px 25px;
	text-shadow:0px 1px 0px #2b665e;
}

/* Bouton accueil*/
.accueil {
	box-shadow: 3px 4px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:18px;
	border:1px solid #566963;
	cursor:pointer;
	padding:7px 25px;
	text-shadow:0px 1px 0px #2b665e;
}
.accueil:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.accueil:active {
	position:relative;
	top:1px;
}

/****Menu déroulant****/
.menu{
    display: flex;
    justify-content: center;
    -moz-user-select: none;
    -webkit-user-select: none;
	align-items: left;
	flex:0.1;
}

.avecEnfant{
    position: relative;
}

.sousmenu{
    justify-content: flex-start;
    display: none;
    position: absolute;
    flex-flow: column wrap;
    background-color: #2b6134;
    border: rgb(0, 25, 63) 1px solid;
    color:rgb(0, 0, 0);
    margin-top: 1.5em;
    width: 96%;
}

.avecEnfant:hover .sousmenu{
    display: flex;
}

.bouton2:hover{
    background-color: var(--couleurFond);
}

.bouton{
	background-color: #2b6134;
	border: rgb(0, 25, 63) 1px solid;
	border-radius: 0.2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	white-space: nowrap;
	justify-content: flex-start;
	align-content: center;
}
